@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200');

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #acacac !important;
  font-size: 0.85rem;
  font-weight: 300;
}
textarea::-moz-placeholder,
input::-moz-placeholder { /* Firefox 19+ */
  color: #acacac !important;
  font-size: 0.85rem;
  font-weight: 300;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder { /* IE 10+ */
  color: #acacac !important;
  font-size: 0.85rem;
  font-weight: 300;
}
textarea:-moz-placeholder,
input:-moz-placeholder { /* Firefox 18- */
  color: #acacac !important;
  font-size: 0.85rem;
  font-weight: 300;
}

input.form-control,
textarea.form-control {
  border-radius: 0;
  border: 1px solid #ededed;
  /*background-color: #fdfdfd;*/
}

input.form-control:focus,
textarea.form-control:focus,
.custom-select.is-invalid:focus, 
.form-control.is-invalid:focus, 
.was-validated .custom-select:invalid:focus, 
.was-validated .form-control:invalid:focus {
  box-shadow: none;
}

.form-control:disabled, 
.form-control[readonly] {
  background: transparent;
}